<div class="main-page">
  <div class="header">
    <mat-form-field appearance="fill" class="select-currency">
      <mat-label>Choose a currency</mat-label>
      <mat-select
        [(value)]="selectedCurrency"
        (selectionChange)="updateCurrency($event.value)"
      >
        <mat-option
          *ngFor="let c of currency"
          [value]="c.value"
          >{{ c.value }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="datepicker">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input
        [max]="getTodayDate()"
        [formGroup]="range"
        [rangePicker]="picker"
      >
        <input
          matStartDate
          formControlName="start"
          placeholder="Start date"
          #dateRangeStart
        />
        <input
          matEndDate
          formControlName="end"
          placeholder="End date"
          #dateRangeEnd
          (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)"
        />
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>
    <button (click)="getData()">fetch</button>
  </div>
  <div class="chart-body" id="chart">
    <apx-chart
      #chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
    ></apx-chart>
  </div>
</div>
